.hero {
  height: 100vh;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-wrapper {
  max-width: 800px;
  margin: 0 auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-content {
  background-color: #ffede0;
  margin-left: 28px;
  margin-right: 28px;
  padding: 16px;
  border-radius: 12px;
  opacity: 0.9;
}

.hero-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #8b4513;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #8b4513;
}

@media (max-width: 768px) {
  .hero-content h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  .hero-content h2 {
    font-size: 2rem;
  }
}
