.float-contact {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
}
.chat-zalo, .chat-facebook, .call-hotline {
  display: block;
  margin-bottom: 6px;
  line-height: 0;
}
@media (max-width: 480px) {
  .chat-zalo, .chat-facebook, .call-hotline {
    display: inline-block;
  }
}