<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sale information</title>

    <style>
      body {
        font-family: sans-serif;
        margin: 0;
      }

      p {
        margin: 8px 0;
        color: #333e48;
        line-height: 24px;
        text-align: justify;
      }
    </style>
  </head>

  <body>
    <table style="width: 100%; background-color: #333e48; padding: 60px 0">
      <tr>
        <td style="padding: 0 64px">
          <div
            style="
              margin: 0 auto;
              width: fit-content;
              background-color: #fff;
              padding: 12px 32px;
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
            "
          >
            <img
              height="40px"
              src="https://s3.ap-southeast-1.amazonaws.com/skydev-general.dev/rich-beauty-spa-logo-gold.png"
              alt="Avatar logo"
            />
          </div>

          <div
            style="
              border-radius: 16px;
              max-width: 600px;
              margin: 0 auto;
              height: fit-content;
              position: relative;
              padding: 24px 40px;
              box-sizing: border-box;
              background-color: #fff;
            "
          >
            <h1
              style="
                font-weight: 700;
                font-size: 32px;
                width: fit-content;
                margin: 0 auto;
              "
            >
              INTRODUCTION
            </h1>

            <div style="margin-top: 16px">
              <p>Hi <span style="font-weight: 700">${userName}</span></p>
              <p>
                Thank you for using our products and services. The following
                details provide information of the agent will support you
                throughout the order <strong>#5768586</strong>.
              </p>
            </div>

            <div
              style="
                border-radius: 12px;
                padding-left: 8px;
                padding-right: 8px;
                width: 100%;
                border-style: solid;
                border-color: #768b9e;
                margin-top: 16px;
              "
            >
              <table style="width: 100%; text-align: left; font-size: 14px">
                <thead style="font-size: 14px; text-transform: uppercase">
                  <tr>
                    <th
                      scope="col"
                      style="
                        white-space: nowrap;
                        padding: 12px 24px;
                        text-align: center;
                      "
                    >
                      Full Name
                    </th>
                    <th
                      scope="col"
                      style="
                        white-space: nowrap;
                        padding: 12px 24px;
                        text-align: center;
                      "
                    >
                      Phone Number
                    </th>
                    <th
                      scope="col"
                      style="
                        white-space: nowrap;
                        padding: 12px 24px;
                        text-align: center;
                      "
                    >
                      Email
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="padding: 12px 24px; text-align: center">
                      TRAN TRI THUC
                    </td>
                    <td
                      scope="row"
                      style="padding: 12px 24px; text-align: center"
                    >
                      (832) 272-3266
                    </td>
                    <td style="padding: 12px 24px; text-align: center">
                      trithuc2@gmail.com
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <p>
              If you have any more questions or need assistance, please contact
              us as soon as possible. We will get back to you promptly.
            </p>

            <p style="margin-top: 20px">Best regards,</p>
            <p style="font-weight: 700">Rich Beauty Admin Team</p>
          </div>

          <div
            style="
              color: #fff;
              display: block;
              width: 600px;
              margin: 0 auto;
              margin-top: 16px;
            "
          >
            <table
              style="
                border-collapse: separate;
                min-width: 100%;
                width: 100%;
                border-spacing: 0;
              "
            >
              <tbody>
                <tr class="footerSpaceBetween" style="display: flex">
                  <td
                    style="
                      padding: 0;
                      font-family: sans-serif;
                      font-size: 14px;
                      vertical-align: top;
                    "
                  >
                    <p
                      class="footerName"
                      style="
                        line-height: 18px;
                        font-weight: 600;
                        font-size: 14px;
                        margin: 4px;
                        color: #fff;
                      "
                    >
                      Rich Beauty
                    </p>
                    <p style="line-height: 20px; margin: 4px">
                      <a
                        href="${linkFacebook || ''}"
                        style="text-decoration: none; color: inherit"
                      >
                        <img
                          height="16px"
                          width="16px"
                          src="https://i.imgur.com/jzyEkg7.png"
                          alt="Facebook logo"
                          style="
                            border: none;
                            -ms-interpolation-mode: bicubic;
                            max-width: 100%;
                          "
                        />
                      </a>
                      <a
                        href="${linkTwitter || ''}"
                        style="text-decoration: none; color: inherit"
                      >
                        <img
                          height="16px"
                          width="16px"
                          src="https://i.imgur.com/QXmqC3D.png"
                          alt="Twitter logo"
                          style="
                            border: none;
                            -ms-interpolation-mode: bicubic;
                            max-width: 100%;
                          "
                        />
                      </a>
                      <a
                        href="${linkInstagram || ''}"
                        style="text-decoration: none; color: inherit"
                      >
                        <img
                          height="16px"
                          width="16px"
                          src="https://i.imgur.com/pfBCLxV.png"
                          alt="Instagram logo"
                          style="
                            border: none;
                            -ms-interpolation-mode: bicubic;
                            max-width: 100%;
                          "
                        />
                      </a>
                    </p>
                    <p
                      class="footerSlogan"
                      style="
                        line-height: 16px;
                        font-size: 12px;
                        margin: 4px;
                        color: #fff;
                      "
                    >
                      Feel free to <strong>unsubscribe</strong> anytime.
                    </p>
                  </td>
                  <td
                    class="marginLeftAuto"
                    style="
                      padding: 0;
                      font-family: sans-serif;
                      font-size: 14px;
                      vertical-align: top;
                      margin-left: auto;
                    "
                  >
                    <div
                      style="
                        display: flex;
                        border-radius: 16px;
                        padding: 20px 0px;
                      "
                    >
                      <a
                        class="appItem"
                        href="https://apps.apple.com/app/cafefinz/id6444694383"
                        style="
                          text-decoration: none;
                          color: inherit;
                          display: flex;
                          align-items: center;
                          padding: 5px 10px;
                          border: 1px solid #fff;
                          border-radius: 8px;
                        "
                      >
                        <div class="mt-1" style="margin-top: 4px">
                          <img
                            src="https://i.imgur.com/2FH9RZu.png"
                            alt="AppleLogo"
                            style="
                              border: none;
                              -ms-interpolation-mode: bicubic;
                              max-width: 100%;
                            "
                          />
                        </div>
                        <div class="wrapperAppName" style="margin-left: 8px">
                          <p
                            class="appTitle"
                            style="
                              line-height: 12px;
                              font-size: 10px;
                              color: #fff;
                              margin: 0;
                            "
                          >
                            Download on the
                          </p>
                          <p
                            class="appName"
                            style="
                              line-height: 18px;
                              font-size: 18px;
                              color: #fff;
                              margin: 0;
                            "
                          >
                            App Store
                          </p>
                        </div>
                      </a>
                      <a
                        class="appItem ml-4"
                        href="https://play.google.com/store/apps/details?id=com.cafefinz.cafefinzapp"
                        style="
                          text-decoration: none;
                          color: inherit;
                          margin-left: 16px;
                          display: flex;
                          align-items: center;
                          padding: 5px 10px;
                          border: 1px solid #fff;
                          border-radius: 8px;
                        "
                      >
                        <div class="mt-1" style="margin-top: 4px">
                          <img
                            src="https://i.imgur.com/N00iRRv.png"
                            alt="CHPlayLogo"
                            style="
                              border: none;
                              -ms-interpolation-mode: bicubic;
                              max-width: 100%;
                            "
                          />
                        </div>
                        <div class="wrapperAppName" style="margin-left: 8px">
                          <p
                            class="appTitle"
                            style="
                              line-height: 12px;
                              font-size: 10px;
                              color: #fff;
                              margin: 0;
                            "
                          >
                            GET IT ON
                          </p>
                          <p
                            class="appName"
                            style="
                              line-height: 18px;
                              font-size: 18px;
                              color: #fff;
                              margin: 0;
                            "
                          >
                            Google Play
                          </p>
                        </div>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
